#footer {
	grid-area: footer;
	background-color: var(--app-background-color);
	padding: 1.2rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& i {
		font-size: 1.75rem;
		color: black;

		&:hover {
			transform: scale(1.2);
		}
	}
}
