li.list-item {
	background-color: beige;
	border-radius: 5px;
	padding: 0.5rem;

	& .details-container {
		cursor: pointer;

		& h4 {
			color: var(--app-background-color);
		}

		& .description {
			width: 20rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	& i {
		cursor: pointer;

		&:hover {
			color: red;
			transform: scale(1.2);
		}
	}
}
