li.list-item {
	background-color: beige;
	border-radius: 5px;
	padding: 0.5rem;

	& .details-container {
		cursor: pointer;

		& h4 {
			color: var(--app-background-color);
		}

		& .description {
			width: 15rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	& .icon-container {
		display: flex;
		justify-content: flex-start;
		gap: 1rem;

		& i.delete {
			cursor: pointer;

			&:hover {
				color: red;
				transform: scale(1.2);
			}
		}

		& i.edit {
			cursor: pointer;

			&:hover {
				color: orange;
				transform: scale(1.2);
			}
		}
	}
}
