.navbar {
	position: fixed;
	width: 100%;

	grid-area: navbar;
	height: var(--navbar-height);

	display: flex;
	justify-content: center;
	gap: 2rem;

	padding: 0.5% 3%;
	background-color: var(--app-background-color);
}

#logo {
	height: 3rem;
	align-self: center;
}

#appTitle {
	font-size: 3rem;
}
