#listContainer {
	grid-area: page;

	display: flex;
	justify-content: flex-start;
	gap: 0.5rem;

	padding: 1rem;
	overflow-y: scroll;

	& dialog.modal-edit[open] {
		display: flex;
		flex-direction: column;

		position: absolute;
		margin: 20vw auto 0;
		border-radius: 5px;

		& form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 6rem 1fr 1fr 1fr 0.125fr 0.5fr;
			grid-template-areas:
				'title title'
				'description description'
				'assignee created-date'
				'status due-date'
				'priority .'
				'. .'
				'change cancel';
			gap: 0.25rem;

			& label {
				font-size: 0.75rem;
				font-weight: 700;
			}

			& .input {
				display: flex;
				flex-direction: column;

				& input,
				& textarea,
				& select {
					border: 2px solid grey;
					border-radius: 5px;
				}

				&.title {
					grid-area: title;
				}
				&.description {
					grid-area: description;
				}
				&.assignee {
					grid-area: assignee;
				}
				&.status {
					grid-area: status;
				}
				&.priority {
					grid-area: priority;
				}
			}

			& button {
				cursor: pointer;
				border-radius: 5px;
				background-color: hsl(from var(--app-background-color) h s calc(l * 2));

				&:hover {
					background-color: hsl(from var(--app-background-color) h s calc(l));
					color: white;
				}

				&.change {
					grid-area: change;
				}

				&.cancel {
					grid-area: cancel;
				}
			}
		}
	}
}

.modal-edit::backdrop {
	background-color: hsla(0, 0%, 0%, 0.1);
	backdrop-filter: blur(2px);
}
